<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>#{title}</title>
    style
        include ../static/style.css
</head>

<body>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/">About</a></li>
            <li><a href="/">Contact</a></li>
        </ul>
    </nav>
    <h2>This is a Html pug</h2>
    <h3>#{content}</h3>
    <form action="/" id="forms">
        <input type="text" id="name" placeholder="Please enter name">
        <input type="text" id="contact" placeholder="Please enter contact">
        <input type="text" id="age" placeholder="Please enter Age">
        <textarea id="about" placeholder="Please enter here about yourself"></textarea>
        <textarea id="eh" placeholder="Please enter here eating habit"></textarea>
    </form>
</body> 

</html>